services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: salesforce_pro
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/salesforce_pro?schema=public
      PORT: 4000
      FRONTEND_URL: http://localhost:5173
      JWT_ACCESS_SECRET: super-access
      JWT_REFRESH_SECRET: super-refresh
      NODE_ENV: development
    ports:
      - "4000:4000"
    depends_on:
      - db
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - api
    restart: unless-stopped

volumes:
  pgdata:
